{% load static %}
<!-- footer start-->
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 ftr-logo"><img src="{% static 'img/LOGO.png' %}" alt="logo"></div>
            <div class="col-sm-2">
                <div class="ftr-img"><img src="{% static 'img/footer1.jpg' %}" alt="photo"></div>
                <div class="ftr-text">
                    <h6>HİZMETLER</h6>
                    <a href="#">Yardım Merkezi</a>
                    <a href="#">Bizimle İletişime Geçin</a>
                    <a href="#">Sipariş Durumu</a>
                    <a href="#">Konum Değiştir</a>
                    <a href="#">SSS</a>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="ftr-img"><img src="{% static 'img/footer1.jpg' %}" alt="photo"></div>
                <div class="ftr-text">
                    <h6>HIZLI MAĞAZA</h6>
                    <a href="#">T-shirt</a>
                    <a href="#">Kadın</a>
                    <a href="#">Erkek</a>
                    <a href="#">Hediye Kartları</a>
                    <a href="#">Ayakkabı</a>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="ftr-img"><img src="{% static 'img/footer1.jpg' %}" alt="photo"></div>
                <div class="ftr-text">
                    <h6>POLİTİKALAR</h6>
                    <a href="#">Kullanım Şartları</a>
                    <a href="#">Gizlilik Politikası</a>
                    <a href="#">Geri Ödeme Politikası</a>
                    <a href="#">Fatura Sistemi</a>
                    <a href="#">Hediye Sistemi</a>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="ftr-img"><img src="{% static 'img/footer1.jpg' %}" alt="photo"></div>
                <div class="ftr-text">
                    <h6>HAKKIMIZDA</h6>
                    <a href="#">Şirket Bilgisi</a>
                    <a href="#">Kariyer</a>
                    <a href="#">Mağaza Konumu</a>
                    <a href="#">Ortaklık Programı</a>
                    <a href="#">Telif Hakkı</a>
                </div>
            </div>
            <div class="col-sm-2 ftr-harita">
                <img src="{% static 'img/footer4.webp' %}" alt="photo">
                <p>Türkiye'nin her yerine hızlı kargo.</p>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->